html {
  font-family: "Montserrat", "Kaushan Script", "Roboto", sans-serif;
  font-size: 10px;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.main_wrapper {
  width: 1200px;
  margin: 0 auto;
}

/* -------------LOGO-------------- */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rem;
}

.logo__item {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  font-weight: 900;
  color: #95e1d3;
}

/* ---------------NAV----------------- */

.header__nav-list {
  width: 49rem;
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

.nav-list__item--link {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 400;
  color: #95e1d3;
}

.nav-list__item--link:hover {
  color: #f38181;
  font-weight: 500;
  padding-bottom: 1.2rem;
  border-bottom: 0.4rem solid #f38181;
}

/* ----------SERVICES--------------- */

.main__services-wrapper {
  width: 1200px;
  margin: 0 auto;
}

/* -----------SERVICES TITLE-------------- */

.services-wrapper__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-wrapper__title-descr {
  font-family: "Kaushan Script", sans-serif;
  font-size: 2.4rem;
  color: #333333;
  padding-bottom: 0.5rem;
}

.services-wrapper__title-name {
  font-family: "Montserrat", sans-serif;
  font-size: 2.8rem;
  font-weight: 900;
  color: #333333;
  margin: 0;
  margin-bottom: 6rem;
}

.services-wrapper__title-name::after {
  content: "";
  display: block;
  width: 6rem;
  height: auto;
  margin: 0 auto;
  padding-bottom: 4rem;
  border-bottom: 0.4rem solid #f38181;
}

/* -----------SERVICES CONTENT------------- */

.services__content-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.content-list__item {
  display: flex;
  width: 29rem;
  justify-content: space-around;
  margin: 0 2rem 9rem 0;
}

.content-list__item:nth-last-child(3n + 1) {
  margin-right: 0;
}

.content-list__item--img {
  width: 7rem;
  padding: 0.6rem 0 3.8rem;
}

.title_services {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
  padding: 0.4rem 0 1.6rem 0;
}

.subtitle_services {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #999999;
}

/* ----------TEAM--------------- */

.team__wrapper {
  width: 1200px;
  margin: 0 auto;
}

/* -----------TEAM TITLE-------------- */

.team__wrapper-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team__wrapper-title__descr {
  font-family: "Kaushan Script";
  font-size: 2.4rem;
  color: #333333;
  padding-bottom: 0.5rem;
}

.team__title {
  font-family: "Montserrat", sans-serif;
  font-size: 2.8rem;
  font-weight: 900;
  color: #333333;
  margin: 0;
  margin-bottom: 4rem;
}

.team__title::after {
  content: "";
  display: block;
  width: 6rem;
  height: auto;
  margin: 0 auto;
  padding-bottom: 4rem;
  border-bottom: 0.4rem solid #f38181;
}

.team__subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #999999;
  margin: 0;
  margin-bottom: 6rem;
}

/* -----------TEAM CONTENT------------- */

.team__content-list {
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.team__content-list__item {
  display: flex;
  width: 30rem;
  margin: 0 1.5rem 8rem 0;
  position: relative;
  flex-direction: column;
}

.team__content-list__item:nth-last-child(3n + 1) {
  margin-right: 0;
}

.middle_layer_team {
  display: flex;
  width: 30rem;
  height: 37.1rem;
  background-color: #95e1d3;
  position: relative;
}

.move__layer {
  width: 100%;
  height: auto;
  transition: transform 0.2s linear;
}

.team__content-list__item:hover > .middle_layer_team > .move__layer {
  position: absolute;
  transform: translate(-1rem, -1rem);
}

.team_img_item {
  width: 100%;
  height: auto;
}

.descr_team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team_name {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding-top: 2.8rem;
  color: #333333;
}

.descr_proff {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 1.2rem;
  color: #999999;
}

/* ----------HIDDEN MENU ICONS-------------- */

.pop-up_team_content {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  background-image: linear-gradient(rgba(211, 58, 19, 0.8), rgba(243, 151, 13, 0.8));
}

.team__content-list__item:hover > .middle_layer_team > .move__layer > .pop-up_team_content {
  display: block;
}

/* --------------ICONS-------------- */

.icons_list {
  display: flex;
  list-style: none;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social_network_icons {
  background-color: inherit;
  border-right: 0.1rem solid #f87070;
}

.icons_item {
  background-color: #fce38a;
  border: none;
  padding: 0;
  margin: 0;
}

.icons_item:hover {
  background-color: rgba(149, 225, 211, 1.0);
  cursor: pointer;
}

.fab {
  width: 3.9rem;
  height: auto;
  text-align: center;
  vertical-align: middle;
  padding: 1.8rem 0;
  color: #f38181;
}


/* -----------FOOTER----------- */

.main_footer_form {
  width: 1200px;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email_item {
  width: 20rem;
  height: 4rem;
  border: 0.1rem solid #e7e7e7;
  padding-left: 1rem;
}

.subscribe_button {
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: #ffffff;
  text-transform: uppercase;
  width: 15rem;
  height: 4rem;
  background-color: #95e1d3;
  border: 0;
  margin: 0;
  padding: 0;
}

.subscribe_button:hover {
  border: 0.1rem solid #3335ad;
}

.rights {
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #333333;
}

.rights_item--red {
  text-decoration: none;
  color: #f38181;
}