html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: "Open Sans", "Roboto", sans-serif;
  color: #626262;
  font-size: 16px;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section_wrapper {
  width: 1170px;
  margin: 0 auto;
}

.must_header {
  width: 1110px;
  margin: 0 auto 32px auto;
}

/* modified logo */

.logo {
  font-family: "Roboto";
  text-transform: uppercase;
  font-weight: normal;
  display: inline-block;
  font-size: 30pt;
  vertical-align: middle;
  margin: 0;
}

.logo::first-letter {
  font-weight: bold;
  color: aqua;
}

.logo_item {
  text-decoration: none;
  color: #555252;
}

/* modified nav */

.must_navigation {
  float: right;
}

.nav_item {
  display: inline-block;
  margin-right: 30px;
}

.nav_item:last-child {
  margin-right: 0;
}

.list_item {
  font-family: "Open Sans";
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: #0f0101;
}

.list_item:hover {
  color: #1abc9c;
}

/* ---------SLIDER------------ */

.must_slider {
  display: block;
  max-width: 1200px;
  height: 600px;
  margin: 0 auto 96px;
  position: relative;
  background-image: url(../img/img1.png);
  background-size: cover;
}

/* .must_slider--img {
  width: 100%;
  height: 600px;
  object-fit: cover;
} */

.slider__content {
  display: inline-block;
  position: absolute;
  width: 1170px;
  height: auto;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
}

.slider_button {
  position: absolute;
  font-size: 48px;
  color: #ffffff;
  padding: 20px 30px 20px 30px;
  background-color: rgba(78, 198, 171, 0.7);
  border: none;
}

.slider_button:hover {
  background-color: rgba(26, 188, 156, 1);
}

.prev {
  left: 10%;
}

.next {
  right: 10%;
}

.slider__content-text {
  display: block;
  position: absolute;
  width: 60%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Roboto";
  font-weight: 700;
  text-transform: uppercase;
  font-size: 50px;
  color: #ffffff;
}

.slider_title {
  text-align: center;
  margin: 0;
}

.slider_item {
  position: absolute;
  top: 90%;
  left: 5%;
  font-family: "Roboto";
  font-weight: 100;
  text-transform: uppercase;
  font-size: 22px;
  color: #ffffff;
  margin: 0;
}

/* ---------CONTENT------------ */

.must_product {
  width: 1110px;
  margin: 0 auto;
}

.must_title {
  font-family: "Roboto";
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 80px;
}

.must_title::after {
  display: block;
  content: "";
  width: 160px;
  margin: 0 auto;
  padding-top: 30px;
  border-bottom: 8px solid #1abc9c;
}

.product_list_wrapper {
  width: 1110px;
}

.product_list {
  list-style: none;
  margin: 0;
  padding: 0;
  height: auto;
  overflow: hidden;
}

.product_item {
  float: left;
  width: 255px;
  height: auto;
  margin-right: 30px;
  margin-bottom: 94px;
  position: relative;
}

.product_item:last-child {
  margin-right: 0;
}

/* ------------------------- */

.product_title {
  font-family: "Roboto";
  font-size: 14px;
  float: left;
  width: 75%;
  background-color: #323232;
  color: #ffffff;
  padding: 13px 13px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
}

.product_price {
  font-family: "Roboto";
  font-size: 14px;
  float: left;
  width: 25%;
  padding: 13px 11px;
  background-color: #8c8c8c;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
}

.product_item:hover .product_title {
  background-color: #1abc9c;
}

.product_item:hover .product_price {
  background-color: #7fd9c7;
}

/* ------------------------------------ */

.product_hidden {
  display: none;
  position: absolute;
  height: 322px;
  width: 255px;
  border: 15px solid rgba(255, 255, 255, 0.4);
  top: 0;
  left: 0;
  z-index: 99;
}

.product_item:hover > .product_hidden {
  display: block;
}

.product_hidden-menu {
  display: none;
  position: absolute;
  height: 292px;
  width: 235px;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: -2%;
  z-index: 99;
}

.product_item:hover > .product_hidden > .product_hidden-menu {
  display: block;
}

.menu_icon {
  position: absolute;
  float: left;
  top: 30%;
  left: 6%;
  list-style: none;
  padding: 0;
}

.icon_item {
  display: inline-block;
  margin-bottom: 8px;
}

.like {
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid #ffffff;
}

.mix {
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid #ffffff;
}

.watch {
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid #ffffff;
}

.cart {
  width: 201px;
  vertical-align: middle;
  background-color: #323232;
  border: 1px solid #ffffff;
}

.icon_item:hover > .menu_item {
  background-color: #1abc9c;
  opacity: 1;
  border: none;
}

.cart_img {
  float: left;
  color: #ffffff;
}

.cart_descr {
  display: inline-block;
  padding-top: 15px;
  text-transform: uppercase;
  color: #ffffff;
}

/* -------------footer---------------------- */

.must_footer {
  height: 88px;
  width: 100%;
  background-color: #323232;
}

.footer_descr {
  display: block;
  width: 40%;
  padding-top: 35px;
  margin: 0 auto;
}

.footer_item {
  color: #ffffff;
}

.footer_green-item {
  text-decoration: none;
  color: #1abc9c;
}
