/* -------------LOGO-------------- */
@media screen and (max-width: 747px) {
  .wrapper {
    display: flex;
    width: 320px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 64px auto;
  }

  /* .wrapper__backgraund {
    background-image: url(../img/img_bg.png);
    background-color: rgba(0, 0, 0, 0.7);
    margin-bottom: 6.7rem;
  } */

  .header {
    display: flex;
    flex-direction: column-reverse;
    width: 95%;
    margin: 0 auto;
  }

  .header__nav {
    width: 95%;
    margin-bottom: 112px;
    padding: 3rem 0 0 0;
  }

  .header__logo {
    margin: 0 auto;
    margin-bottom: 32px;
  }

  /* ----------CONTENT--------------- */

  .content__title {
    margin-bottom: 1.6rem;
    font-size: 3rem;
    line-height: 1.3;
  }

  .content__subtitle {
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;
    font-size: 1.8rem;
  }

  .content__link {
    margin-bottom: 13.6rem;
  }

  .content__link--item {
    font-size: 16px;
    padding: 1rem 4rem;
  }

  /* -----------PARTNERS------------- */

  .partners {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .partners__title {
    margin: 0 0 1rem 0;
  }

  .list__item {
    margin-bottom: 26px;
  }

  .partners__link {
    margin-bottom: 57px;
  }

  .partners__link--item {
    padding: 1rem 7rem;
  }

}
